package ${package};

import javax.ejb.Stateless;

/**
 * Session Bean implementation class ${beanName}
 */
@Stateless
public class ${beanName} implements ${beanName}Local {

	/**
     * Default constructor. 
     */
    public ${beanName}() {
        
    }
}