th,tr
{
	text-align:center;
}

.logo{
    margin-top: 15px;
}
#login-name{
    margin-right: 2%;
}

#first-pills{
    margin-left: 25px;
}

.meal_pic
{
	width:50px;
}

.popup_meal select.form-control
{
    float: left;
    width: 200px;
}

#search_block
{
    float:right;
}